# export DBMIGRATE_URL=postgres://pg@localhost:5777/migrate
export DBMIGRATE_URL=mysql://mg:pass@localhost:5789/migrate
# export DBMIGRATE_URL=sqlite://home/vincent/Code/dbmigrate/dbmigrate.db
export DBMIGRATE_PATH=../../examples/migrations/
